#gl-canvas {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: fixed;
}

.list-group-item {
	background-color: transparent;
}

.panel {
	background-color: rgba(255,255,255,0.5);
}

.navbar-default {
	background: rgba(255,255,255,0.8);
}

.list-group-item {
	padding: 6px 9px;
}

.panel-heading {
	padding: 6px 9px;
}

.input-group-sm>.input-group-btn>.btn {
	padding: 5px 5px;
}

#modal-load .table-responsive {
	overflow: scroll;
	height: 300px;
}

@keyframes hightlight-grow {
	0% {
		transform: scale(2);
		filter: invert(100%);
		-webkit-filter: invert(100%);
	}
	50% {
		transform: scale(1);
		filter: invert(0%);
		-webkit-filter: invert(0%);
	}
	100% {
		transform: scale(2);
		filter: invert(100%);
		-webkit-filter: invert(100%);
	}
}

.demo-highlight {
	animation:hightlight-grow 1s infinite;
}
